* {
	box-sizing: border-box;
	
}

[class^="clase"]{
	border: 2pt solid #606060;
	width: 120px;
	height: 144px;
	font-size: 36px;
	font-family: "Baloo";
	border-radius: 10px;
	padding-left: 17px;
	margin: 17px;
	display: inline-block;
}

section.sectionsm{
	float: right;
}

label.clase1sm{
	background-color: #dfedd6;
}

label.clase2sm{
	background-color: #f7fade;
}