* {
	box-sizing: border-box;
	
}

[class^="clase"]{
	border: 2pt solid #606060;
	width: 120px;
	height: 120px;
	font-size: 36px;
	font-family: "Baloo";
	text-align: center;
	border-radius: 10px;
	margin: 15px;
	justify-content: center;
	align-content: center;
	display: flex;
	flex-direction: column;
}

label.clase2lg{
	background-color: #f7fade;
}

label.clase1lg{
	background-color: #dfedd6;
}
